@using BOL
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
@{
    Product theProduct = Model as Product;

    <img src="@theProduct.ImageUrl" width="100" height="100" />

    <p>Id: @theProduct.ID</p>
    <p>Title: @theProduct.Title</p>
    <p>Description: @theProduct.Description</p>
    <p>Unit Price: @theProduct.UnitPrice</p>
    <p>Quantity: @theProduct.Quantity</p>

    <a href="/shoppingcart/addtocart/@theProduct.ID">Add to Cart</a>
}